
.filter-wrapper {
  .ant-checkbox-group {
    padding: 8px 16px;
    .ant-checkbox-wrapper {
      display: block;
      margin-bottom: 8px;
    }
  }

  .ant-btn-link {
    display: block;
    padding-bottom: 0;
  }

  .has-toggle-button {
    padding-top: 0;
  }

  .helper-text {
    font-size: 12px;
    font-style: italic;
    padding-left: 8px;
  }

  .ant-list {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  @mixin after-content {
    content: '';
    width: 14px;
    height: 14px;
    margin-left: 8px;
    margin-top: -2px;
    vertical-align: middle;
    display: inline-block;
  }

  .checkbox-label-color {
    &.killed::after {
      @include after-content();
      background-color: #800080;
    }

    &.injured::after {
      @include after-content();
      background-color: #FFA500;
    }

    &.none::after {
      @include after-content();
      background-color: #EF5C84;
    }

    &.nyc::after {
      @include after-content();
      background-color: #10377b;
    }

    &.la::after {
      @include after-content();
      background-color: #f5bd41;
    }

    &.chicago::after {
      @include after-content();
      background-color: #e32f22;
    }
  }
}
