@import '../vars';

.full-screen-loading {
  display: block;
  margin: 90px auto;

  &.ant-spin-lg .ant-spin-dot {
    font-size: 80px;
  }

  &.ant-spin-lg .ant-spin-dot i {
    width: 38px;
    height: 38px;
  }
}

.ant-drawer.ant-drawer-right.ant-drawer-open {
  width: 0;
  .ant-drawer-mask {
    display: none;
  }
}

.primary-content {
  width: calc(100vw - 380px - (#{$spacing-body} * 2));
  padding-bottom: $spacing-body;
}

#tooltip-wrapper {
  position: fixed;
  background: #FFFFFF;
  border: 1px solid $color-text;
  padding: 4px;
  white-space: pre-line;
  opacity: 0;
}

.graph-specific-filters {
  text-align: center;
  margin-bottom: $spacing-box;
}
