@import '../vars';

.full-screen-loading {
  display: block;
  margin: 90px auto;

  &.ant-spin-lg .ant-spin-dot {
    font-size: 80px;
  }

  &.ant-spin-lg .ant-spin-dot i {
    width: 38px;
    height: 38px;
  }
}

.ant-drawer.ant-drawer-right.ant-drawer-open {
  width: 0;
  .ant-drawer-mask {
    display: none;
  }
}

.primary-content {
  width: calc(100vw - 380px - (#{$spacing-body} * 2));
  padding-bottom: $spacing-body;

  p {
    max-width: 1024px;
  }

  .vision-zero-list {
    max-width: 600px;
    margin-bottom: $spacing-text;
  }
}

#tooltip-wrapper {
  position: fixed;
  background: #FFFFFF;
  border: 1px solid $color-text;
  padding: 4px;
  white-space: pre-line;
  opacity: 0;
}

.graph-specific-filters {
  text-align: center;
  margin-bottom: $spacing-box;
}

.loading-overlay {
  position: fixed;
  z-index: 1;
  background-color: rgba(230,247,255, 0.6);
  top: 0;
  left: 0;
  right: 380px;
  bottom: 0;
}

.mobile-filter-toggle {
  text-align: right;
}
