@import '~normalize.css/normalize';
@import '~antd/dist/antd.css';
@import 'vars';

body {
  @include paragraph();

  padding: $spacing-body;
  overflow: auto !important;
  touch-action: auto !important;
}

p {
  @include paragraph();
}

a {
  @include link();
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

.mobile-styles {
  &.ant-drawer.ant-drawer-right.ant-drawer-open {
    width: 100%;
    .ant-drawer-mask {
      display: block;
    }
  }

  .primary-content {
    width: 100%;
  }

  .loading-overlay {
    right: 0;
  }

  .rotate-mobile g.tick text {
    transform: rotate(-55deg);
  }
}
