@import '~normalize.css/normalize';
@import '~antd/dist/antd.css';
@import 'vars';

body {
  @include paragraph();

  padding: $spacing-body;
}

p {
  @include paragraph();
}

a {
  @include link();
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

// For now just turn off filter and allow full width body.
// In future use nav bar to toggle them back on
.mobile-styles {
  .ant-drawer.ant-drawer-right.ant-drawer-open {
    display: none;
  }

  .primary-content {
    width: 100%;
  }
}
